body {
    font-family: Arial, sans-serif;
    background-image: url("../public/oldpaper.png"); /* Adjust the path to your image */
    background-size: cover; /* Scale the image to cover the entire background */
    background-position: center; /* Center the image horizontally and vertically */
    font-family: 'Pirata One';font-size: 22px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-image: url("../public/oldpaper.png");
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.card {
    width: calc(30% - 10px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9); /* Add a semi-transparent white background */
}

.card img {
    max-width: 100%;
}

.card:hover {
    transform: scale(1.05); /* Increase the scale on hover */
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3); /* Add a subtle shadow on hover */
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-family: 'Pirata One';font-size: 22px;
}

button:hover {
    background-color: #0056b3;
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.animated {
    animation: fadeInOut 3.5s ease-in-out infinite;
}

/* Add a default shadow to the div with the class "globe" */
.globe {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Customize the shadow properties as needed */
    transition: box-shadow 0.2s; /* Add a smooth transition effect for the box-shadow property */
}

.navbar {
  background-color: rgba(51, 51, 51, 0.7); /* Semi-transparent black color */
  padding: 10px;
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
}

.navbar-logo a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.navbar-links {
  list-style-type: none;
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
}

.navbar-links li {
  margin-right: 20px;
  position: relative; /* Position relative for dropdown */
}

.navbar-links li .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none; /* Hide dropdown by default */
  background-color: #333;
  padding: 10px;
}

.navbar-links li:hover .dropdown-menu {
  display: block; /* Display dropdown on hover */
}

.navbar-links li .dropdown-menu li {
  margin-top: 5px;
}

.navbar-links li .dropdown-menu li a {
  color: #fff;
  text-decoration: none;
}

.contact-container {
  margin: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.contact-container p {
  font-size: 16px;
  margin-bottom: 20px;
}

.contact-container ul {
  list-style: none;
  padding: 0;
}

.contact-container li {
  font-size: 16px;
  margin-bottom: 5px;
}

.page-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
  padding: 20px;
  border-radius: 10px;
  position: relative;
  justify-content: center;
  align-items: center;
}

/* Semi-transparent overlay */
.page-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
}


  
  